* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 1200px;
  height: 100vh;
  background-color: rgb(32 32 35);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.content-left {
  background-color: rgb(54, 69, 79);
  width: 26%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgb(255, 235, 59);
}

.header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 16px;
  color: rgb(228, 228, 228);
}

.header img {
  width: 100px;
  height: 100px;
  padding: 4px;
  border-radius: 15px;
  padding: 4px;
}

.header h1 {
  font-size: 2.6rem;
  margin-bottom: 8px;
}
.header p {
  font-size: 2rem;
}
.nav-bar {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  color: rgb(178, 178, 178);
}

.nav-bar a {
  color: rgb(228, 228, 228);
  font-size: 2.4rem;
  margin-left: 1rem;
}
.home,
.dashboard,
.income,
.expenses {
  display: flex;
  justify-content: start;
  align-items: center;
}

i {
  font-size: 2.4rem;
  color: rgb(255, 235, 59);
}

.content-right {
  padding: 2rem;
  width: 74%;
  height: 100%;
  border: 2px solid rgb(255, 235, 59);
  border-radius: 10px;
  background-color: rgb(40, 40, 43);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.total-income {
  width: 80%;
  height: 250px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(26, 19, 19);
}
.total-income .title > h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 8px;
  font-size: 1.8rem;
  /* border: 2px solid red; */
  color: rgb(228, 228, 228);
}
.total-income .title > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 8px;
  font-size: 1.4rem;
  color: rgb(228, 228, 228);
}
.total-expenses {
  width: 80%;
  height: 250px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(26, 19, 19);
}
.total-expenses .title > h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 8px;
  font-size: 1.8rem;
  /* border: 2px solid red; */
  color: rgb(228, 228, 228);
}
.total-expenses .title > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 8px;
  font-size: 1.4rem;
  color: rgb(228, 228, 228);
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 250px;
  background-color: rgb(26, 19, 19);
  border-radius: 10px;
}
@media (max-width: 690px) {
  .main-content {
    flex-direction: column;
  }
  .content-left {
    flex-direction: row;

    width: 100%;
    height: 10%;
  }
  .nav-bar {
    flex-direction: row;
  }
  .nav-bar i {
    display: none;
  }
  .nav-bar a {
    font-size: 1.6rem;
    margin: 10px 10px;
  }
  .header :nth-child(1) {
    width: 60px;
    height: 60px;
    /* margin: auto; */
  }
  .header :nth-child(2) {
    display: none;
  }
  /* .content-left {
    display: none;
  } */
  .content-right {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .total-income,
  .total-expenses,
  .chart {
    width: 100%;
  }
  img {
    display: none;
  }
  .header {
    margin: 0;
  }
}
